DATABASE_URL=postgres://postgres:***@localhost:5432/constiuint
NEXTAUTH_SECRET=replace-me
NEXTAUTH_URL=http://localhost:3000
EMAIL_SERVER=smtp://user:pass@example.com:587
EMAIL_FROM=noreply@example.com
GEOCODIO_API_KEY=replace-me
ADMIN_EMAILS=admin@example.com
